/*made by Ivailo Lalev*/

/* Hide scroll bar- start */
::-webkit-scrollbar {
    display: none;
  }
  
  body,
  html {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}
  /* Hide scroll bar - end*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* Nav bar section -start*/
header {
    background: linear-gradient(90deg, rgb(33, 160, 65), rgb(48, 192, 84), rgb(33, 160, 65));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.navbar {
    position: sticky;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(74, 50, 78), rgb(11, 43, 97));
    width: 100%;
    border-radius: 1vh;
    z-index: 1000;
}

.navbar > div, .logo {
    flex: 0;
}
.logo {
    height: 5vh;
    border-radius: 1vh;
}

.page-icon {
    height: 5vh;
    border-radius: 1vh;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}


.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(33, 160, 65), rgb(48, 192, 84), rgb(33, 160, 65));
    border-radius: 10px;
    padding: 15px 30px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background: linear-gradient(90deg, rgb(75, 90, 79), rgb(48, 192, 84), rgb(17, 81, 33));
    color: rgb(219, 219, 219);
}
/* Nav Section end */

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }
    10% {
        background-position: 80% 20%;
    }
    20% {
        background-position: 60% 40%;
    }
    30% {
        background-position: 40% 60%;
    }
    40% {
        background-position: 20% 80%;
    }
    50% {
        background-position: 0 100%;
    }
    60% {
        background-position: 20% 80%;
    }
    70% {
        background-position: 40% 60%;
    }
    80% {
        background-position: 60% 40%;
    }
    90% {
        background-position: 80% 20%;
    }
    100% {
        background-position: 100% 0;
    }
}

.image-containers {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, rgb(230, 215, 233),rgb(102, 159, 99),rgb(155, 173, 204));
    background-size: 150% 150%;
    animation: moveBackground 5s linear infinite;
}

.planet-image {
    max-width: 70%;
    height: 25vh;
    border-radius: 10%;
}
.info-text-heading{
    background-color: #ffffff;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: 60%;
    color: rgb(77, 198, 93);
    border-radius: 1vh;
    word-wrap: break-word;
    word-break: break-word;
    padding: 1em;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.info-text{
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: 60%;
    background: linear-gradient(90deg, rgb(74, 50, 78), rgb(11, 43, 97));
    color: #ffffff;
    border-radius: 1vh;
    word-wrap: break-word;
    word-break: break-word;
    padding: 1em;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.collect{
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: 60%;
    background: linear-gradient(90deg, rgb(15, 72, 29), rgb(60, 243, 106), rgb(15, 72, 29));
    color: #ffffff;
    border-radius: 1vh;
    word-wrap: break-word;
    word-break: break-word;
    padding: 10px;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
