/*made by Ivailo Lalev*/

/* Hide scroll bar- start */
::-webkit-scrollbar {
    display: none;
  }
  
  body,
  html {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}
  /* Hide scroll bar - end*/

body {
  background: linear-gradient(90deg, rgb(230, 215, 233),rgb(102, 159, 99),rgb(155, 173, 204));
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* Nav bar section -start*/
header {
    position: sticky;
    top: 0px;
    background: linear-gradient(90deg, rgb(33, 160, 65), rgb(48, 192, 84), rgb(33, 160, 65));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.hidden-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.hidden-navbar {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar {
    position: sticky;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(50, 78, 61), rgb(11, 97, 12));
    width: 100%;
    border-radius: 1vh;
    z-index: 1000;
}

.navbar > div, .logo {
    flex: 0;
}
.logo {
    height: 5vh;
    border-radius: 1vh;
}

.page-icon {
    height: 5vh;
    border-radius: 1vh;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}


.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(33, 160, 65), rgb(48, 192, 84), rgb(33, 160, 65));
    border-radius: 10px;
    padding: 15px 30px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background: linear-gradient(90deg, rgb(75, 90, 79), rgb(48, 192, 84), rgb(17, 81, 33));
    color: rgb(219, 219, 219);
}
/* Nav Section end */

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }
    10% {
        background-position: 80% 20%;
    }
    20% {
        background-position: 60% 40%;
    }
    30% {
        background-position: 40% 60%;
    }
    40% {
        background-position: 20% 80%;
    }
    50% {
        background-position: 0 100%;
    }
    60% {
        background-position: 20% 80%;
    }
    70% {
        background-position: 40% 60%;
    }
    80% {
        background-position: 60% 40%;
    }
    90% {
        background-position: 80% 20%;
    }
    100% {
        background-position: 100% 0;
    }
}

.image-containers {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, rgb(230, 215, 233),rgb(102, 159, 99),rgb(155, 173, 204));
    background-size: 150% 150%;
    animation: moveBackground 5s linear infinite;
}

.planet-image {
    max-width: 70%;
    height: 25vh;
}
.info-text-heading{
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: 60%;
    color: rgb(224, 211, 17);
    border-radius: 1vh;
    word-wrap: break-word;
    word-break: break-word;
    padding: 1em;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.info-text{
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: 60%;
    background: linear-gradient(90deg, rgb(33, 160, 65), rgb(48, 192, 84), rgb(33, 160, 65));
    color: #ffffff;
    border-radius: 1vh;
    word-wrap: break-word;
    word-break: break-word;
    padding: 1em;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      margin-top: 0;
      padding: 20px;
    }
  
    input[type=submit], input[type=file] {
      width: 100%;
      padding: 12px;
    }
  
    .nav-links li {
      padding: 0 5px;
    }
  
    .nav-links a {
      padding: 10px 15px;
    }
  
    header, .navbar {
      flex-direction: column;
      align-items: center;
    }
    .logo, .page-icon {
      height: 4vh;
    }
  
    h2, .info-text, .info-text-heading {
      font-size: 2.5vh;
      max-width: 80%;
      width: 80%;
    }
  
    #image {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .nav-links li {
      padding: 0 2px;
    }
  
    .nav-links a {
      font-size: smaller;
    }
  
    h2, .info-text, .info-text-heading {
      font-size: 2vh;
    }
  }